*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 150px;
}

.header__list {
    display: flex;
    align-items: center;
    gap: 55px;
}

.input-bx {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-form {
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: #EDEDED;
    border-radius: 16.172px;
    height: 57px;
    padding-left: 23px;
    padding-right: 15px; 
}

.header__link {
    color: #606060;
    font-size: 17.829px;
    font-weight: 500;
    line-height: 26.743px;
    text-transform: uppercase;
    transition: 0.2s;
}
.header__link:hover {
    color: #141416;
    transition: 0.2s;
    transform: scale(1.1);
}

.input {
    outline: none;
    border: none;
    background-color: #EDEDED;
    width: 285px;
    height: 20px;
}

.input::placeholder {
    color: #C2C3CB;
    font-size: 18px;
    font-weight: 500;
}

.btn {
    color: #FFF;
    font-size: 16.172px;
    font-weight: 600;
    line-height: 24.258px;
    text-transform: uppercase;
    border-radius: 16.172px;
    background: #141416;
    border: none;
    width: 200px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.btn:hover {
    background-color: grey;
    transition: 0.3s;
    color: #000;
}


